<main>
  <div class="loader">
    <mat-spinner *ngIf="loader"></mat-spinner>
  </div>
  <div class="text-center error">
    {{errorMessage}}
  </div>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="email">
      <form [formGroup]="email">
        <ng-template matStepLabel>Fill in you email</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Email" required>
        </mat-form-field>
        <div>
          <div class="error" *ngIf="emailError">Please enter a valid email address.</div>
          <button mat-button (click)="addUser(stepper)" type="button">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="name">
      <form [formGroup]="name">
        <ng-template matStepLabel>Fill in your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" placeholder="Name" required>
        </mat-form-field>
        <div>
          <button mat-button (click)="addUserName(stepper)" type="button">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="mobile">
      <form [formGroup]="mobile">
        <ng-template matStepLabel>Fill in your mobile number</ng-template>
        <mat-form-field>
          <mat-label>Mobile number</mat-label>
          <input matInput
                 formControlName="mobile"
                 placeholder="0840010002"
                 oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                 required>
        </mat-form-field>
        <div>
          <div class="error" *ngIf="mobileError">Please, enter a 10 digit mobile number</div>
          <button mat-button (click)="addUserMobileNnmber(stepper)">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
          <p>
            Email entry {{user.email}}
          </p>
          <p>
            Name entry {{user.name}}
          </p>
          <p>
            Mobile number entry {{user.mobile}}
          </p>
      </div>
      <div>
        <button mat-button (click)="reset(stepper)" color="success">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</main>
